.menu_container {
    position: fixed;
    top: 4rem;
    z-index: 29;
    border-left: 2px solid #E35B04;
    background-color: #FFFFFF;
    width: 80%;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    animation-name: menu_mobile_appear;
    animation-duration: .8s;
    animation-timing-function: cubic-bezier(.41,1.16,.59,.98);
    display: none;
}

.nav_list {
    display: flex;
    flex-direction: column;
    li {
        padding: 2.5rem 2rem;
        border-bottom: 2px solid #E5E5E5;
        width: 100%;
        align-items: start;
    }
}

@keyframes menu_mobile_appear {
    from {
        transform: translateX(-100%)
    }
    to {
        transform: translateX(0)
    }
}
