@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}

html {
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%; 
}

body {
    font-family: sans-serif; 
}

img {
    max-width: 100%; 
    height: auto; 
}

ul {
    list-style: none; 
}

button {
    border: none; 
    background: none; 
    padding: 0; 
    cursor: pointer; 
}